<div id="Q10p">
	<h2>Lack of confidence?</h2>
	<input type="checkbox" class="symptom" id="A218" name="A218" value="1">Not at all</input><br/>
	<input type="checkbox" class="symptom" id="A219" name="A219" value="2">A little</input><br/>
	<input type="checkbox" class="symptom" id="A220" name="A220" value="3">Moderately</input><br/>
	<input type="checkbox" class="symptom" id="A221" name="A221" value="4">Quite a bit</input><br/>
	<input type="checkbox" class="symptom" id="A222" name="A222" value="5">Extremely</input><br/>
</div>
