<div id="Q10k">
	<h2>Feeling mentally fatigued?</h2>
	<input type="checkbox" class="symptom" id="A193" name="A193" value="1">Not at all</input><br/>
	<input type="checkbox" class="symptom" id="A194" name="A194" value="2">A little</input><br/>
	<input type="checkbox" class="symptom" id="A195" name="A195" value="3">Moderately</input><br/>
	<input type="checkbox" class="symptom" id="A196" name="A196" value="4">Quite a bit</input><br/>
	<input type="checkbox" class="symptom" id="A197" name="A197" value="5">Extremely</input><br/>
</div>
