<div id="Q10a">
	<h2>Limitations in your social and leisure activities at home?</h2>
	<input type="checkbox" class="symptom" id="A143" name="A143" value="1">Not at all</input><br/>
	<input type="checkbox" class="symptom" id="A144" name="A144" value="2">A little</input><br/>
	<input type="checkbox" class="symptom" id="A145" name="A145" value="3">Moderately</input><br/>
	<input type="checkbox" class="symptom" id="A146" name="A146" value="4">Quite a bit</input><br/>
	<input type="checkbox" class="symptom" id="A147" name="A147" value="5">Extremely</input><br/>
</div>
