<div id="Q10j">
	<h2>Problems sleeping?</h2>
	<input type="checkbox" class="symptom" id="A188" name="A188" value="1">Not at all</input><br/>
	<input type="checkbox" class="symptom" id="A189" name="A189" value="2">A little</input><br/>
	<input type="checkbox" class="symptom" id="A190" name="A190" value="3">Moderately</input><br/>
	<input type="checkbox" class="symptom" id="A191" name="A191" value="4">Quite a bit</input><br/>
	<input type="checkbox" class="symptom" id="A192" name="A192" value="5">Extremely</input><br/>
</div>
