<div id="Q6">
  <h1>How would you describe your health today?</h1>
  <input type="checkbox" class="symptom" id="A72" name="A72" value="1">Excellent</input><br/>
  <input type="checkbox" class="symptom" id="A73" name="A73" value="2">Very good</input><br/>
  <input type="checkbox" class="symptom" id="A74" name="A74" value="3">Good</input><br/>
  <input type="checkbox" class="symptom" id="A75" name="A75" value="4">Fair</input><br/>
  <input type="checkbox" class="symptom" id="A76" name="A76" value="5">Poor</input><br/>
  <input type="checkbox" class="symptom" id="A77" name="A77" value="6">Very poor</input><br/>
</div>
