<div id="q9g">
	<h2>Stiffness?</h2>
	<input type="checkbox" class="symptom" id="A128" name="A128" value="1">Not at all</input><br/>
	<input type="checkbox" class="symptom" id="A129" name="A129" value="2">A little</input><br/>
	<input type="checkbox" class="symptom" id="A130" name="A130" value="3">Moderately</input><br/>
	<input type="checkbox" class="symptom" id="A131" name="A131" value="4">Quite a bit</input><br/>
	<input type="checkbox" class="symptom" id="A132" name="A132" value="5">Extremely</input><br/>
</div>
