<div id="q9h">
	<h2>Heavy arms and/or legs?</h2>
	<input type="checkbox" class="symptom" id="A133" name="A133" value="1">Not at all</input><br/>
	<input type="checkbox" class="symptom" id="A134" name="A134" value="2">A little</input><br/>
	<input type="checkbox" class="symptom" id="A135" name="A135" value="3">Moderately</input><br/>
	<input type="checkbox" class="symptom" id="A136" name="A136" value="4">Quite a bit</input><br/>
	<input type="checkbox" class="symptom" id="A137" name="A137" value="5">Extremely</input><br/>
</div>
