<div id="Q9c">
	<h2>Your body not doing what you want it to do?</h2>
	<input type="checkbox" class="symptom" id="A108" name="A108" value="1">Not at all</input><br/>
	<input type="checkbox" class="symptom" id="A109" name="A109" value="2">A little</input><br/>
	<input type="checkbox" class="symptom" id="A110" name="A110" value="3">Moderately</input><br/>
	<input type="checkbox" class="symptom" id="A111" name="A111" value="4">Quite a bit</input><br/>
	<input type="checkbox" class="symptom" id="A112" name="A112" value="5">Extremely</input><br/>
</div>
