<div id="Q7">
  <h1>Compared to yesterday, how would you describe your health today?</h1>
  <input type="checkbox" class="symptom" id="A78" name="A78" value="1">Much better</input><br/>
	<input type="checkbox" class="symptom" id="A79" name="A79" value="2">Somewhat better</input><br/>
	<input type="checkbox" class="symptom" id="A80" name="A80" value="3">Same</input><br/>
	<input type="checkbox" class="symptom" id="A81" name="A81" value="4">Somewhat worse</input><br/>
	<input type="checkbox" class="symptom" id="A82" name="A82" value="5">Much worse</input><br/>
</div>
