<div id="q9f">
	<h2>Being clumsy?</h2>
	<input type="checkbox" class="symptom" id="A123" name="A123" value="1">Not at all</input><br/>
	<input type="checkbox" class="symptom" id="A124" name="A124" value="2">A little</input><br/>
	<input type="checkbox" class="symptom" id="A125" name="A125" value="3">Moderately</input><br/>
	<input type="checkbox" class="symptom" id="A126" name="A126" value="4">Quite a bit</input><br/>
	<input type="checkbox" class="symptom" id="A127" name="A127" value="5">Extremely</input><br/>
</div>
