<div id="Q9b">
	<h2>Tremor of your arms or legs?</h2>
	<input type="checkbox" class="symptom" id="A103" name="A103" value="1">Not at all</input><br/>
	<input type="checkbox" class="symptom" id="A104" name="A104" value="2">A little</input><br/>
	<input type="checkbox" class="symptom" id="A105" name="A105" value="3">Moderately</input><br/>
	<input type="checkbox" class="symptom" id="A106" name="A106" value="4">Quite a bit</input><br/>
	<input type="checkbox" class="symptom" id="A107" name="A107" value="5">Extremely</input><br/>
</div>
