<div id="Q9a">
	<h2>Difficulties moving about indoors?</h2>
	<input type="checkbox" class="symptom" id="A98" name="A98" value="1">Not at all</input><br/>
	<input type="checkbox" class="symptom" id="A99" name="A99" value="2">A little</input><br/>
	<input type="checkbox" class="symptom" id="A100" name="A100" value="3">Moderately</input><br/>
	<input type="checkbox" class="symptom" id="A101" name="A101" value="4">Quite a bit</input><br/>
	<input type="checkbox" class="symptom" id="A102" name="A102" value="5">Extremely</input><br/>
</div>
