<div id="Q10h">
	<h2>Needing to go to the toilet urgently?</h2>
	<input type="checkbox" class="symptom" id="A178" name="A178" value="1">Not at all</input><br/>
	<input type="checkbox" class="symptom" id="A179" name="A179" value="2">A little</input><br/>
	<input type="checkbox" class="symptom" id="A180" name="A180" value="3">Moderately</input><br/>
	<input type="checkbox" class="symptom" id="A181" name="A181" value="4">Quite a bit</input><br/>
	<input type="checkbox" class="symptom" id="A182" name="A182" value="5">Extremely</input><br/>
</div>
