<div id="Q3">
  <h1>To what extent did MS stop you from doing what you wanted to do today?</h1>
  <input type="checkbox" class="symptom" id="A57" name="A57" value="1">A Lot</input><br/>
  <input type="checkbox" class="symptom" id="A58" name="A58" value="2">Quite a Bit</input><br/>
  <input type="checkbox" class="symptom" id="A59" name="A59" value="3">Moderately</input><br/>
  <input type="checkbox" class="symptom" id="A60" name="A60" value="4">Slightly</input><br/>
  <input type="checkbox" class="symptom" id="A61" name="A61" value="5">Not at All</input><br/>
</div>
