<div id="Q10m">
	<h2>Feeling anxious or tense?</h2>
  <input type="checkbox" class="symptom" id="A203" name="A203" value="1">Not at all</input><br/>
	<input type="checkbox" class="symptom" id="A204" name="A204" value="2">A little</input><br/>
	<input type="checkbox" class="symptom" id="A205" name="A205" value="3">Moderately</input><br/>
	<input type="checkbox" class="symptom" id="A206" name="A206" value="4">Quite a bit</input><br/>
	<input type="checkbox" class="symptom" id="A207" name="A207" value="5">Extremely</input><br/>
</div>
