<div id="Q10o">
	<h2>Problems concentrating?</h2>
	<input type="checkbox" class="symptom" id="A213" name="A213" value="1">Not at all</input><br/>
	<input type="checkbox" class="symptom" id="A214" name="A214" value="2">A little</input><br/>
	<input type="checkbox" class="symptom" id="A215" name="A215" value="3">Moderately</input><br/>
	<input type="checkbox" class="symptom" id="A216" name="A216" value="4">Quite a bit</input><br/>
	<input type="checkbox" class="symptom" id="A217" name="A217" value="5">Extremely</input><br/>
</div>
