<div id="Q10q">
	<h2>Feeling depressed?</h2>
	<input type="checkbox" class="symptom" id="A223" name="A223" value="1">Not at all</input><br/>
	<input type="checkbox" class="symptom" id="A224" name="A224" value="2">A little</input><br/>
	<input type="checkbox" class="symptom" id="A225" name="A225" value="3">Moderately</input><br/>
	<input type="checkbox" class="symptom" id="A226" name="A226" value="4">Quite a bit</input><br/>
	<input type="checkbox" class="symptom" id="A227" name="A227" value="5">Extremely</input><br/>
</div>
