<div id="Q10g">
	<h2>Difficulty doing things spontaneously (e.g. going out on the spur of the moment)?</h2>
	<input type="checkbox" class="symptom" id="A173" name="A173" value="1">Not at all</input><br/>
	<input type="checkbox" class="symptom" id="A174" name="A174" value="2">A little</input><br/>
	<input type="checkbox" class="symptom" id="A175" name="A175" value="3">Moderately</input><br/>
	<input type="checkbox" class="symptom" id="A176" name="A176" value="4">Quite a bit</input><br/>
	<input type="checkbox" class="symptom" id="A177" name="A177" value="5">Extremely</input><br/>
</div>
