<div id="Q4">
  <h1>Compared with what you usually do, how much were you able to do today?</h1>
  <input type="checkbox" class="symptom" id="A62" name="A62" value="1">More Than Usual</input><br/>
  <input type="checkbox" class="symptom" id="A63" name="A63" value="2">About as as much as usual</input><br/>
  <input type="checkbox" class="symptom" id="A64" name="A64" value="3">A little less than usual</input><br/>
  <input type="checkbox" class="symptom" id="A65" name="A65" value="4">Much less than usual</input><br/>
  <input type="checkbox" class="symptom" id="A66" name="A66" value="5">None of what I usually do</input><br/>
</div>
