<div id="Q10d">
	<h2>Having to cut down the amount of time you spent on work or other daily activities?</h2>
	<input type="checkbox" class="symptom" id="A158" name="A158" value="1">Not at all</input><br/>
	<input type="checkbox" class="symptom" id="A159" name="A159" value="2">A little</input><br/>
	<input type="checkbox" class="symptom" id="A160" name="A160" value="3">Moderately</input><br/>
	<input type="checkbox" class="symptom" id="A161" name="A161" value="4">Quite a bit</input><br/>
	<input type="checkbox" class="symptom" id="A162" name="A162" value="5">Extremely</input><br/>
</div>
