<div id="Q10e">
	<h2>Problems using transport (e.g. car, bus, train, taxi, etc.)?</h2>
	<input type="checkbox" class="symptom" id="A163" name="A163" value="1">Not at all</input><br/>
	<input type="checkbox" class="symptom" id="A164" name="A164" value="2">A little</input><br/>
	<input type="checkbox" class="symptom" id="A165" name="A165" value="3">Moderately</input><br/>
	<input type="checkbox" class="symptom" id="A166" name="A166" value="4">Quite a bit</input><br/>
	<input type="checkbox" class="symptom" id="A167" name="A167" value="5">Extremely</input><br/>
</div>
