<div id="Q10c">
	<h2>Difficulties using your hands in everyday tasks?</h2>
	<input type="checkbox" class="symptom" id="A153" name="A153" value="1">Not at all</input><br/>
	<input type="checkbox" class="symptom" id="A154" name="A154" value="2">A little</input><br/>
	<input type="checkbox" class="symptom" id="A155" name="A155" value="3">Moderately</input><br/>
	<input type="checkbox" class="symptom" id="A156" name="A156" value="4">Quite a bit</input><br/>
	<input type="checkbox" class="symptom" id="A157" name="A157" value="5">Extremely</input><br/>
</div>
