<div id="Q10n">
	<h2>Feeling irritable, impatient, or short tempered?</h2>
  <input type="checkbox" class="symptom" id="A208" name="A208" value="1">Not at all</input><br/>
	<input type="checkbox" class="symptom" id="A209" name="A209" value="2">A little</input><br/>
	<input type="checkbox" class="symptom" id="A210" name="A210" value="3">Moderately</input><br/>
	<input type="checkbox" class="symptom" id="A211" name="A211" value="4">Quite a bit</input><br/>
	<input type="checkbox" class="symptom" id="A212" name="A212" value="5">Extremely</input><br/>
</div>
