<div id="Q10i">
	<h2>Feeling unwell?</h2>
	<input type="checkbox" class="symptom" id="A183" name="A183" value="1">Not at all</input><br/>
	<input type="checkbox" class="symptom" id="A184" name="A184" value="2">A little</input><br/>
	<input type="checkbox" class="symptom" id="A185" name="A185" value="3">Moderately</input><br/>
	<input type="checkbox" class="symptom" id="A186" name="A186" value="4">Quite a bit</input><br/>
	<input type="checkbox" class="symptom" id="A187" name="A187" value="5">Extremely</input><br/>
</div>
