<div id="Q10f">
	<h2>Taking longer to do things?</h2>
	<input type="checkbox" class="symptom" id="A168" name="A168" value="1">Not at all</input><br/>
	<input type="checkbox" class="symptom" id="A169" name="A169" value="2">A little</input><br/>
	<input type="checkbox" class="symptom" id="A170" name="A170" value="3">Moderately</input><br/>
	<input type="checkbox" class="symptom" id="A171" name="A171" value="4">Quite a bit</input><br/>
	<input type="checkbox" class="symptom" id="A172" name="A172" value="5">Extremely</input><br/>
</div>
