<div id="Q5">
  <h1>On the basis of how your MS has been, how would you describe today?</h1>
  <input type="checkbox" class="symptom" id="A67" name="A67" value="1">A really good day</input><br/>
  <input type="checkbox" class="symptom" id="A68" name="A68" value="2">Quite a good day</input><br/>
  <input type="checkbox" class="symptom" id="A69" name="A69" value="3">An okay day</input><br/>
  <input type="checkbox" class="symptom" id="A70" name="A70" value="4">Quite a bad day</input><br/>
  <input type="checkbox" class="symptom" id="A71" name="A71" value="5">A really bad day</input><br/>
</div>
