<div id="Q9d">
	<h2>Having to depend on others to do things for you?</h2>
	<input type="checkbox" class="symptom" id="A113" name="A113" value="1">Not at all</input><br/>
	<input type="checkbox" class="symptom" id="A114" name="A114" value="2">A little</input><br/>
	<input type="checkbox" class="symptom" id="A115" name="A115" value="3">Moderately</input><br/>
	<input type="checkbox" class="symptom" id="A116" name="A116" value="4">Quite a bit</input><br/>
	<input type="checkbox" class="symptom" id="A117" name="A117" value="5">Extremely</input><br/>
</div>
