<div id="q9i">
	<h2>Spasms in your limbs?</h2>
	<input type="checkbox" class="symptom" id="A138" name="A138" value="1">Not at all</input><br/>
	<input type="checkbox" class="symptom" id="A139" name="A139" value="2">A little</input><br/>
	<input type="checkbox" class="symptom" id="A140" name="A140" value="3">Moderately</input><br/>
	<input type="checkbox" class="symptom" id="A141" name="A141" value="4">Quite a bit</input><br/>
	<input type="checkbox" class="symptom" id="A142" name="A142" value="5">Extremely</input><br/>
</div>
