<div id="Q8b">
	<h2>Grip things tightly (e.g. turning on taps)?</h2>
	<input type="checkbox" class="symptom" id="A88" name="A88" value="1">Not at all</input><br/>
	<input type="checkbox" class="symptom" id="A89" name="A89" value="2">A little</input><br/>
	<input type="checkbox" class="symptom" id="A90" name="A90" value="3">Moderately</input><br/>
	<input type="checkbox" class="symptom" id="A91" name="A91" value="4">Quite a bit</input><br/>
	<input type="checkbox" class="symptom" id="A92" name="A92" value="5">Extremely</input><br/>
</div>
