<div id="Q8a">
	<h2>Do physically demanding tasks?</h2>
	<input type="checkbox" class="symptom" id="A83" name="A83" value="1">Not at all</input><br/>
	<input type="checkbox" class="symptom" id="A84" name="A84" value="2">A little</input><br/>
	<input type="checkbox" class="symptom" id="A85" name="A85" value="3">Moderately</input><br/>
	<input type="checkbox" class="symptom" id="A86" name="A86" value="4">Quite a bit</input><br/>
	<input type="checkbox" class="symptom" id="A87" name="A87" value="5">Extremely</input><br/>
</div>
