<div id="Q8c">
	<h2>Carry things?</h2>
	<input type="checkbox" class="symptom" id="A93" name="A93" value="1">Not at all</input><br/>
	<input type="checkbox" class="symptom" id="A94" name="A94" value="2">A little</input><br/>
	<input type="checkbox" class="symptom" id="A95" name="A95" value="3">Moderately</input><br/>
	<input type="checkbox" class="symptom" id="A96" name="A96" value="4">Quite a bit</input><br/>
	<input type="checkbox" class="symptom" id="A97" name="A97" value="5">Extremely</input><br/>
</div>
