<div id="Q10l">
	<h2>Worries related to your MS?</h2>
	<input type="checkbox" class="symptom" id="A198" name="A198" value="1">Not at all</input><br/>
	<input type="checkbox" class="symptom" id="A199" name="A199" value="2">A little</input><br/>
	<input type="checkbox" class="symptom" id="A200" name="A200" value="3">Moderately</input><br/>
	<input type="checkbox" class="symptom" id="A201" name="A201" value="4">Quite a bit</input><br/>
	<input type="checkbox" class="symptom" id="A202" name="A202" value="5">Extremely</input><br/>
</div>
