<div id="q9e">
	<h2>Problems with your balance?</h2>
	<input type="checkbox" class="symptom" id="A118" name="A118" value="1">Not at all</input><br/>
	<input type="checkbox" class="symptom" id="A119" name="A119" value="2">A little</input><br/>
	<input type="checkbox" class="symptom" id="A120" name="A120" value="3">Moderately</input><br/>
	<input type="checkbox" class="symptom" id="A121" name="A121" value="4">Quite a bit</input><br/>
	<input type="checkbox" class="symptom" id="A122" name="A122" value="5">Extremely</input><br/>
</div>
