<div id="Q10b">
	<h2>Being stuck at home more than you would like to be?</h2>
	<input type="checkbox" class="symptom" id="A148" name="A148" value="1">Not at all</input><br/>
	<input type="checkbox" class="symptom" id="A149" name="A149" value="2">A little</input><br/>
	<input type="checkbox" class="symptom" id="A150" name="A150" value="3">Moderately</input><br/>
	<input type="checkbox" class="symptom" id="A151" name="A151" value="4">Quite a bit</input><br/>
	<input type="checkbox" class="symptom" id="A152" name="A152" value="5">Extremely</input><br/>
</div>
