<form id="postForm" name="postForm" class="hiddenForm" method="post" action="storeQ2Symptoms.php">
	<input type="text" id="pfDate" name="pfDate" value="0"/>
	<input type="text" id="pfA1" name="pfA1" value="0"/>
	<input type="text" id="pfA2" name="pfA2" value="0"/>
	<input type="text" id="pfA3" name="pfA3" value="0"/>
	<input type="text" id="pfA4" name="pfA4" value="0"/>
	<input type="text" id="pfA5" name="pfA5" value="0"/>
	<input type="text" id="pfA6" name="pfA6" value="0"/>
	<input type="text" id="pfA7" name="pfA7" value="0"/>
	<input type="text" id="pfA8" name="pfA8" value="0"/>
	<input type="text" id="pfA9" name="pfA9" value="0"/>
	<input type="text" id="pfA10" name="pfA10" value="0"/>
	<input type="text" id="pfA11" name="pfA11" value="0"/>
	<input type="text" id="pfA12" name="pfA12" value="0"/>
	<input type="text" id="pfA13" name="pfA13" value="0"/>
	<input type="text" id="pfA14" name="pfA14" value="0"/>
	<input type="text" id="pfA15" name="pfA15" value="0"/>
	<input type="text" id="pfA16" name="pfA16" value="0"/>
	<input type="text" id="pfA17" name="pfA17" value="0"/>
	<input type="text" id="pfA18" name="pfA18" value="0"/>
	<input type="text" id="pfA19" name="pfA19" value="0"/>
	<input type="text" id="pfA20" name="pfA20" value="0"/>
	<input type="text" id="pfA21" name="pfA21" value="0"/>
	<input type="text" id="pfA22" name="pfA22" value="0"/>
	<input type="text" id="pfA23" name="pfA23" value="0"/>
  <input type="text" id="pfA24" name="pfA24" value="0"/>
	<input type="text" id="pfA25" name="pfA25" value="0"/>
	<input type="text" id="pfA26" name="pfA26" value="0"/>
	<input type="text" id="pfA27" name="pfA27" value="0"/>
	<input type="text" id="pfA28" name="pfA28" value="0"/>
	<input type="text" id="pfA29" name="pfA29" value="0"/>
	<input type="text" id="pfA30" name="pfA30" value="0"/>
	<input type="text" id="pfA31" name="pfA31" value="0"/>
	<input type="text" id="pfA32" name="pfA32" value="0"/>
	<input type="text" id="pfA33" name="pfA33" value="0"/>
	<input type="text" id="pfA34" name="pfA34" value="0"/>
	<input type="text" id="pfA35" name="pfA35" value="0"/>
	<input type="text" id="pfA36" name="pfA36" value="0"/>
	<input type="text" id="pfA37" name="pfA37" value="0"/>
	<input type="text" id="pfA38" name="pfA38" value="0"/>
	<input type="text" id="pfA39" name="pfA39" value="0"/>
	<input type="text" id="pfA40" name="pfA40" value="0"/>
	<input type="text" id="pfA41" name="pfA41" value="0"/>
	<input type="text" id="pfA42" name="pfA42" value="0"/>
	<input type="text" id="pfA43" name="pfA43" value="0"/>
	<input type="text" id="pfA44" name="pfA44" value="0"/>
	<input type="text" id="pfA45" name="pfA45" value="0"/>
	<input type="text" id="pfA46" name="pfA46" value="0"/>
	<input type="text" id="pfA47" name="pfA47" value="0"/>
	<input type="text" id="pfA48" name="pfA48" value="0"/>
	<input type="text" id="pfA49" name="pfA49" value="0"/>
	<input type="text" id="pfA50" name="pfA50" value="0"/>
</form>
